* {
    box-sizing: border-box;
    font-family: Helvetica;
    color: #424748;
}

body {
    padding: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-areas: "nav" "main";
    background-color: rgb(253, 190, 64);
}

body>nav {
    grid-area: nav;
    background-color: rgb(90, 101, 113);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding: 0 20px 0 30px; */
}

nav>img {
    width: 50px;
    object-fit: contain;
    margin-right: auto;
}

nav>a {
    margin: 10px;
    font-size: medium;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: cornsilk;
}

nav>a img {
    width: 50px;
    object-fit: contain;
    margin-right: auto;
}

.landing-choice {
    text-decoration: none;
    color: cornsilk;
    font-size: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 118, 187);
    margin: 30px;
    grid-column-start: 2;
    text-align: center;
    /* justify-items: center; */
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 100px;
    padding: auto;
}


/* .landing-choice>a {
    margin: auto;
    color: cornsilk;
} */

.login {
    margin-left: auto;
    margin-right: 30px;
}



nav>a:hover {
    color: white;
    background-color: #424748;
}
body>main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 40px 1fr 50px;
    gap: 15px;
}
h1 {
    grid-template-columns: span 1;
    grid-column-start: 0;
}
.landing {
    margin: 30px 0 30px 0;
    grid-column: span 3;
    /* justify-content: center; */
    /* align-items: center; */
    
    font-size: 30px;
    text-align: center;
}
.landing-sub {
    margin-top: -20px;
    grid-column: span 3;
    /* justify-content: center; */
    /* align-items: center; */
    
    font-size: 15px;
    text-align: center;
}
#venue-list {
    grid-row-start: 3;
}
#venue-details-input {
    grid-column-start: 2;
    grid-row-start: 3;
}
#venue-details {
    grid-column-start: 2;
    grid-row-start: 3;
}
#add-venue {
    grid-column-start: 1;
    /* grid-row-start: 0; */
}

/* #venue-details-input {
    display: grid;
    grid-template-rows: 2;
} */
#form-new-venue {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#add-venue-button {
    grid-column: span 2;
}
#worker-list {
    grid-column-start: 1;
    grid-row-start: 3;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
#worker-details-input {
    grid-column-start: 2;
    grid-row-start: 3;
}
#worker-details {
    grid-column-start: 2;
    grid-row-start: 3;
    font-size: large;
}
#add-worker {
    grid-column-start: 1;
    /* grid-row-start: 0; */
}
td {
    text-align: left;
    padding: 5px;
}

/* #worker-details-input {
    display: grid;
    grid-template-rows: 2;
} */
#form-new-worker {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
#add-worker-button {
    grid-column: span: 1;
    grid-column-start: 2;
}
#event-list {
    grid-row-start: 3;
    display: flex;
    flex-direction: column;
}
#event-details-input {
    grid-column-start: 2;
    grid-row-start: 2;
}
#event-details {
    
    grid-column-start: 2;
    grid-row-start: 3;
    
}

/* #event-details-input {
    display: grid;
    grid-template-rows: 2;
} */
#form-new-event {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#add-event-button {
    grid-column: span 2;
}
#selected-details {
    grid-column-start: 3;
    grid-row-start: 3;
}
.selected-stuff{
    grid-column-start: 3;
    grid-row-start: 2;
}
.list-button{
    text-decoration: none;
    width: 60%;
}
.button{
    grid-row-start: 4;
    align-self: center;
    text-decoration: none;
    /* width: 80%; */
    
}

ul{
    list-style:none;
    padding-left:0;   
    width: 100%;
    
}
ul>button{
    border: solid 2px black;
}
li{
    display: inline-block;
    width:100%
    
}
#add-event {
    text-decoration: none;
    grid-column-start: 1;
    /* grid-row-start: 4; */
    font-size:18px;
    
    /* justify-content: baseline; */
    /* align-self: end; */
}