<%- include('../partials/header') %>
    <div class="container-fluid">
        <h1 class="text-center col-md-6">
            <%= title %>
        </h1>
        <div class="d-grid gap-2 col-md-6 overflow-auto">
           <a class="btn btn-primary" id="add-venue" href="/venues/new">Add Venue</a>
           <%- include('../venues/partials/allvenues') %>
        </div>
    </div>
    
    <%- include('../partials/footer') %>