<%- include('../partials/header') %>



    <div class="container-fluid ">
        <h3 class="mb-3  col-md-6 text-center">Enter New Venue</h3>
        <div class="mb-3  col-md-6">
            <form id="form-new-venue" action="/venues" method="POST">
                <!-- <label for="form-new-venue" class="form-label">Venue Name</label> -->
                <input type="text" class="form-control" id="form-new-venue" placeholder="Venue Name" name="name">
                <!-- <label for="form-new-venue" class="form-label">Venue City</label> -->
                <input type="text" class="form-control" id="form-new-venue" placeholder="Venue City" name="city">
                <!-- <label for="form-new-venue" class="form-label">Venue State</label> -->
                <input type="text" class="form-control" id="form-new-venue" placeholder="Venue State" name="state">
                <select name="power"class="form-select form-select mb-3" aria-label=".form-select example">
                    <option >Select Power</option>
                    <option value="1 PHASE 100A">Single-Phase - 100A</option>
                    <option value="3 PHASE 100A">3-Phase - 100A</option>
                    <option value="3 PHASE 200A">3-Phase - 200A</option>
                    <option value="3 PHASE 400A">3-Phase - 400A</option>
                </select>
                <select name="union" class="form-select form-select mb-3" aria-label=".form-select-lg example">
                    <option>Union (yes/no)</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <input class="btn btn-outline-primary d-grid gap-2 col-8 mx-auto" id="add-venue-button" type="submit"
                    value="Add Venue">
            </form>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">Current Venues</h3>
            <%- include('../venues/partials/allvenues') %>

        </div>
    </div>

    <div class="container-fluid">
    </div>
    <%- include('../partials/footer') %>