    <%events.forEach(function(e){ %>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <%= e.name %>
                </h4>
                <p class="card-text">
                    <%= e.date.toDateString() %>
                </p>
                <div class="d-grid gap-2 col-6 mx-auto ">
                    <a class="btn btn-outline-primary" href="/events/<%= e._id %>">SELECT</a>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto ">
                    <a class="btn btn-outline-danger" href="/events/<%= e._id %>/delete" method="DELETE">Delete</a>
                </div>

            </div>
        </div>
        <%}); %>