<%- include('../partials/header') %>
<div class="container-fluid">
    <h1 class=" text-center col-md-6">
        <%= title %>
    </h1>
<div class="d-grid gap-2 col-md-6 overflow-auto">
    <a class=" btn btn-primary list-button" id="add-worker" href="/workers/new">Add Worker</a>
    <%- include('../workers/partials/allworkers') %>
</div>
</div>    

    <%- include('../partials/footer') %>